body {
  font-family: PT Serif Caption;
 }

/* Header */
.header{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  max-width: 1200px !important;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  border-bottom-width: 1px;
}

.logo{
  position: relative;
  max-width: 159px;
  padding-top: 10px;
}

.main-header.right{
  position: relative;
  display: inline-block;
  float: right;
}

.menu-item{
  position: relative;
  color: black;
  display: inline-block;
  padding-right: 35px;
  font-style: italic;
}

.dropdown{
  width: 140px;
  border: 1px solid #DCDCDC;
  position: absolute;
  background-color: white;
  padding-left: 0;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .4s, 0s;
  transition-delay: 0s, .4s;
}

.dropdown-item{
  padding-right: 10px;
  color: black;
  font-style: italic;
  border-bottom: 1px solid #DCDCDC;
}

.menu-item:hover .dropdown{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

a{
  font-style: italic;
  color: black;
  text-decoration: none;
}

a:hover{
  color: #c3ad70;
}

.search-container {
  float: 'left';
  padding-right: 10px;
}

.search-item{
  position: relative;
  display: inline-block;
}

.search-container input{
  float: 'left';
  width: 650px;
  height: 30px;
  border: 1px solid #D3D3D3;
  font-family: PT Serif Caption;
  font-style: italic;
}

.search{
  width: 10px;
}

 /* Book description */
.description {
  padding-left: 110px;
  padding-right: 99.5px;
  padding-top: 70px;
}


 /* Book specifications */
.description .spec {
    z-index: 7;
    min-width: 700px;
    max-width: 700px;
    line-height: 40px;
    border-width: 0px;
    float: right;
}

.description .spec .book-name{
  font-family: Playfair Display;
}

.price-wrapper{
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  color: black;
}

.rating{
  float: right;
}

 .checked{
  color: #FFCC66;
}

.expand{
  padding-left: 5px;
  font-size: 12px;
}

.add-to-cart-button{
  color: white;
  font-style: oblique;
  font-family: Playfair Display;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.wishlist {
  background-color: transparent;
  border: 1px white;
  text-decoration: none;
  padding: 0.3rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: black;
  font-style: oblique;
  font-family: Playfair Display;
  transition: all ease 0.4s;
}

.wishlist span {
  margin-left: 0.5rem;
}

.wishlist .heart,
.wishlist span {
  transition: all ease 0.4s;
}

.wishlist:focus {
  background-color: transparent;
}

.wishlist:focus .heart,
.wishlist:focus span {
  color: black;
}

.wishlist:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.wishlist:hover .heart,
.wishlist:hover span {
  color: #cc4b37;
}

.underline{
  margin-top: 3px;
  background-color: #c3ad70;
  width: 40px;
  height:1px;
  border:1px solid #c3ad70;
}

.add-to-cart-button:hover{
  background-color: #c3ad70;
  border-color: #c3ad70;
}

.description .cover{
  float: left;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 300px;
}

.description .cover:hover {
  opacity: 0.7;
}

.description .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.description .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 450px;
}


/* Add Animation */
.description .modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.author{
  float: right;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.reviews{
  float:left;
  padding-top: 30px;
  padding-left: 99.5px;
  padding-right: 99.5px;
}

.tabs{
  float: left;
  padding-top: 70px;
  padding-left: 99.5px;
  padding-right: 99.5px;
  padding-bottom: 99.5px;
  width: 1070px
}

section {
  display: none;
  padding: 10px 0px 20px;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.section-title{
  font-family: Playfair Display;
  padding-bottom: 5px;
}

.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: black;
  background-color: #DCDCDC;
  border: 1px solid transparent;
}

.tabs label:hover {
  color: #c3ad70;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #c3ad70;
  border: 1px solid #DCDCDC;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

.commentClicked{
  color: #c3ad70;  
  border: 1px solid #fff;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: PT Serif Caption;
  cursor: pointer;
}

.commentInactive{
  color: black;
  border: 1px solid #fff;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: PT Serif Caption;
  cursor: pointer;
}

.commentClicked + #more{
  display: block;
}

#more{
  display: none;
}

.author-page-header{
  font-family: Playfair Display;
  padding-left: 399.5px;
  padding-right: 99.5px;
  padding-top: 70px;

}

.author-sidebar-wrapper .content{
  float: left;
  padding-left: 70px;
  padding-right: 20px;
  max-width: 300px;
  height: 870px;
  font-size: 15px;
  text-align: left;
  line-height: 1.8;
  word-spacing: 5px;
  border-right:1px solid #DCDCDC;
}

.author-sidebar-wrapper .author-name{
  font-style: italic;
  color: black;
  font-weight: 700;
  font-family: Playfair Display;
}

.browse-wrapper .sort-btn{
  float: right;
  margin-right: 150px;	
  display: inline-block;
  padding: 3px 40px;
}

.browse-wrapper .books{
  display: grid;
  grid-template-columns: 156px 156px 156px;
  margin-left: 450px;
  grid-column-gap: 80px;
  margin-bottom: 30px;
}

.browse-wrapper .pagination{
  margin-left: 360px;
}

.book-wrapper{
  max-width: 156px;
  margin-top: 70px;
}

.book-wrapper .add-to-cart-button{
  padding: 7px 8px;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 10px;
}

.book-wrapper .cover-small{
  width: 156px;
  height: 206.7px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-wrapper .title, .price{
  font-size: 15px;
  text-align: center;
  color: black;
}

.book-wrapper .buttons{
  margin-top: 5px;
}





